html {
    background-image: url(https://media.istockphoto.com/id/1336161874/vector/filmstrips.jpg?b=1&s=612x612&w=0&k=20&c=x-nznXUKc_eqNa9kNPXvpuke91b90cZK9pgBgh_kBoQ=);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body {
    background-color: rgba(58, 58, 58, 0.431);
    text-shadow: 4px 4px 10px black;
    color: white;
    text-decoration: solid;
    -webkit-text-fill-color: rgb(212, 212, 212);
    -webkit-text-stroke: 0.08px;
    padding: 10px;
    border: 3px solid rgba(58, 58, 58, 0.431);
    border-radius: 10px;
}

button {
    background: linear-gradient(to bottom, rgba(58, 58, 58, 0.657), rgb(124, 124, 124))
}
button:hover {
    background: linear-gradient(to bottom, rgb(124, 124, 124), rgba(58, 58, 58, 0.657))
}

